<h1>This is Project.</h1>

<% @projects.each do |project| %>
  <ul>
    <li>
      <%= project.title %>
      <%= project.description %>
      <%= link_to 'Show', project_path(project) %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
<% end %>
<%= link_to 'Create Project', new_project_path %>